@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
:root {
    --blanco: #FFFFFF;
    --celeste: #1091b5;
    --celeste2: #1091B5;
    --gris: #4B4B4B;
    --grisClaro: #6A6868; 
    --borderColor:#E6E9ED;
    --selected: #DCDCDC;
    --shadow-border: rgba(0, 0, 0, 0.1);
    --user-bg-color: #FAFAFC;
}
/* Body */
.body {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg);
}

/* HEADER*/

header{
    color:var(--blanco);
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem;
    position: fixed;
    background-color: var(--celeste);
    top: 0;
    left: 0;

}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.brand .name{
    font-size: 2rem;
    font-weight: 900;
}

.right{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}
.right img{
    width: 2.5rem;
    margin: 0.5rem;
}
.right a{
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}
.right a:hover{
    background-color: var(--grisClaro)
}

/*sidebar*/

.brand2{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding-left:0.455rem;
    margin-bottom: 1.8rem;
    overflow: hidden;
}
.brand2 img{
    width: 3rem;
    
    }

.brand2 span{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--blanco);
}
.sidebar{
    margin-top: 4rem;
    position:fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    height: 100%;
    padding: 1.4rem 1rem 0 1rem;
    background-color: var(--gris);
    transition: width 0.5s ease;
}
.sidebar.minimize{
    width: 4.94rem;
}

.encabezado{
    width: 100%;
}

.menu-btn{
    position: absolute;
    top:3.5%;
    right: -0.87rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: var(--grisClaro);
    color: var(--blanco);
    cursor: pointer;
    transition: right 0.3s ease; 
}
.menu-btn i{
    font-size: 1.5rem;
}
.sidebar.minimize .menu-btn i{
    transform: rotate(180deg);
}
.sidebar.minimize .menu-btn {
    right: -2.2rem;
}

.menu-container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


/*Menu*/
.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu .menu-item{
    
    position: relative;
    list-style: none;
    overflow: hidden;
}

.menu .menu-link{
    display: flex;
    padding: 0.55rem 0;
    color: var(--blanco);
    text-decoration: none;
    border-radius: 0.3rem;
}

.menu-item:hover .menu-link{
    color: var(--blanco);
    background-color: var(--grisClaro);
}

.menu-link i{
    font-size: 1.35rem;
    padding: 0 0.8rem;
}
.menu-link i:last-child{
    margin-left: auto;
    transition: transform 0.3s ease;
}
.sidebar.minimize .menu-link i:last-child{
    display: none;
}
.menu-item.sub-menu-toggle .menu-link i:last-child{
    transform: rotate(180deg);
}
.menu-link span{
    font-size: 0.8rem;
    font-weight: 500;
}

.sidebar.minimize .menu-item:hover,
.sidebar.minimize .menu-item.sub-menu-toggle{
    overflow: visible;
}

.sidebar.minimize .menu-item:hover span,
.sidebar.minimize .menu-item.sub-menu-toggle span{
    position: absolute;
    left: 4.2rem;
    padding: 0.5rem;
    background-color: var(--grisClaro);
    border-radius: 0.4rem;
    color: var(--blanco);
    transition: all 0.3s ease;
}


/*Sub menu*/
.sub-menu{
        height: 0;
        transition: all 0.3s ease;
        overflow: hidden;
}
.sidebar.minimize .sub-menu{
    position: absolute;
    left: 4.2rem;
    top: 3rem;
    background-color: var(--grisClaro);
    border-radius: 0.2rem;
}

.sub-menu .sub-menu-link{
    display: flex;
    margin-left: 2.5rem;
    padding: 0.55rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--blanco);
    text-decoration: none;
    border-radius: 0.3rem;
}

.sub-menu .sub-menu-link:hover{
    color:var(--blanco);
    background-color: var(--grisClaro);
}

.sub-menu::before{
    content:'';
    position: absolute;
    height: 100%;
    width: 0.07rem;
    margin-left: 1.4rem;
    background-color: var(--blanco);
}

.sidebar.minimize .sub-menu::before{
    width: 0;
}

.sidebar.minimize .sub-menu a{
    margin: 0 0.5rem;
}
/*Sidebar boton*/
.sidebar-btn{
    display: none;
}

/*Responsive*/
@media (max-height:683px){
    .menu-container{
        overflow: auto;
    }
}
@media (max-width:700px) or (max-height:683px){
    #menu-btn{
        display: none;
    }
    .sidebar{
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
    .sidebar-btn{
        display: flex;
        right: 1rem;
        padding: 1.2rem;
        margin-top: 3.2rem;
    }

    .sidebar-btn i:last-child{
        display: none;
    }

    body.sidebar-hidden .sidebar{
        transform: translateX(0);
    }
    body.sidebar-hidden .sidebar-btn i:last-child{
       display: flex; 
    }
    body.sidebar-hidden .sidebar-btn i:first-child{
        display: none; 
     }
}